/* It is better to have colors in custom properties.
 * Dynamic(runtime) theme selection easier to implement
 */
:root {
  --grey-1: #ededed;
  --darkblue-1: #09002e;
  --darkwhite-1: #efefef;
  --text-color-primary: #000;
  --text-color-secondary: #444;
  --orange-1: #af4f00;
  --label-bg-1: rgb(9, 0, 46, 0.4);
  --base-size-step: 16px;
}

body {
  background-color: var(--darkblue-1);
  font-family: Montserrat, serif;
  color: var(--text-color-primary);
}
